---
import { getCollection } from "astro:content";
import { Default } from "@/layouts/Default";
import { BlogpostsGrid } from "@/components/BlogpostsGrid";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const postsWithTag = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: postsWithTag },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Default title={"ðŸ·ï¸ " + tag} description={"Posts including tag " + tag}>
  <p>Posts including tag <span class="tag">{tag}</span></p>
  <BlogpostsGrid posts={posts} />
</Default>

<style lang="scss">
  @use "@/shared/assets/styles/themes" as *;
  .tag {
    color: $primary;
  }
</style>
