@use "../abstracts" as *;
@use "../themes" as *;

html {
  font-family: "Open Sans", sans-serif;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;

  &.dark-theme {
    background-color: $dark-bg;
    color: $dark-fg;
  }

  &.light-theme {
    background-color: $light-bg;
    color: $light-fg;
  }
}

.prevent-scroll {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 55rem;
  padding: 1rem;
  line-height: 1.5;
}

::selection {
  background: alpha($primary, 0.4);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
h2 {
  margin: 1rem 0;
  font-size: 1.8rem;
}
h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

a:hover,
button:hover {
  cursor: pointer;
}

@media screen and (min-width: 636px) {
}
