---
import { Menu, X } from "lucide-astro";
---

<div class="button">
  <div class="hamburger">
    <Menu size={48} />
  </div>
  <div class="cross hidden">
    <X size={48} />
  </div>
</div>

<style lang="scss">
  @use "./Hamburger.scss";
</style>
