---
import { Triangle } from "lucide-astro";
import { ThemeSwitcher } from "@/components/ThemeSwitcher";

const currentPath = Astro.url.pathname;
const menu = [
  { href: "/blog/about/", title: "About me" },
  { href: "/blog/posts/", title: "Posts" },
  { href: "/blog/music/", title: "Music" },
];
---

<nav class="nav">
  <a class="nav__link--iconed" href="/blog/" aria-label="Go to homepage">
    <Triangle size={32} />
  </a>
  {
    menu.map((link) => (
      <a
        class={
          currentPath.includes(link.href)
            ? "nav__link nav__link--active"
            : "nav__link"
        }
        href={link.href}
      >
        {link.title}
      </a>
    ))
  }
  <div class="nav__theme-toggle">
    <ThemeSwitcher />
  </div>
</nav>

<style lang="scss">
  @use "./Navigation.scss";
</style>
