---
import Default from "../layouts/Default.astro";
import BlogPostLink from "../components/BlogPostLink.astro";

const allPosts = await Astro.glob('./blogposts/*.md');
const pageTitle = "Blog posts";
---

<Default pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map(post => <BlogPostLink title={post.frontmatter.title} url={post.url} />)}
  </ul>
</Default>
