---
import Default from "../layouts/Default.astro";
import Greeting from "../components/Greeting.vue";

const pageTitle = "Home page";
const greetings = ["Hello", "Привет", "Salam", "Salut", "Vitam"];
---

<Default pageTitle={pageTitle}>
  <h2>This is my blog subsite</h2>
  <Greeting messages={greetings} client:load />
</Default>
