---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"blog">;
}

const {
  title,
  description,
  image,
  publishDate,
} = Astro.props.post.data;
const slug = Astro.props.post.slug;
---

<div class="card">
  <figure class="card__image">
    <Image {...image} loading="lazy" />
  </figure>
  <section class="card__content">
    <a href={slug}>
      <h5 class="card__title">{title}</h5>
    </a>
    <div class="card__date">{publishDate.toString().slice(0,15)}</div>
    <span class="card__description">{description}</span>
  </section>
</div>

<style lang="scss">
  @import "../styles/themes.scss";
  .card {
    margin: 2em 0;
    width: 320px;
    height: 420px;
    margin-inline: auto;
    transition:
      box-shadow 200ms ease-in,
      transform 200ms ease-in;

    :global(.light-theme) & {
      // background: theme-lightness($theme-light-bg, 1.0);
      border: 1px solid $theme-light-fg;
    }
    :global(.dark-theme) & {
      background: theme-lightness($theme-dark-bg, 1.4);
    }

    &:hover,
    &:focus {
      box-shadow: 5px 5px 0px 1px $theme-primary;
      transform: translateX(-2px) translateY(-2px);
    }

    &__image {
      width: 100%;
      height: 200px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      margin: 1.3em;
    }

    &__title {
      font: {
        size: 1.3em;
        weight: 700;
      }

      &:hover {
        text: {
          decoration: underline;
        }
      }
    }

    &__description {
      font: {
        size: 0.85em;
        weight: 400;
      }
      text-overflow: ellipsis;
      margin: 0.5em 0;
    }

    &__date {
      :global(.dark-theme) & {
        color: theme-lightness($theme-dark-fg, 0.6);
      }
      margin: 0.5em 0;

      font: {
        style: italic;
        size: 0.85em;
      }
    }
  }
</style>
