---
import {CreativeCommons} from "lucide-astro"
---

<footer>
  <div class="license">
    <a class="link" href="https://wvovaw.github.io/">V. Ivakhno</a>
    <CreativeCommons size={18} />
    2023
  </div>
  <nav>
    <a class="link" href="/blog/about">About</a>
    <a class="link" href="/blog/posts">Posts</a>
  </nav>
</footer>

<style lang="scss">
  @import "../styles/themes.scss";
  footer {
    position: absolute;
    bottom: 0;
    max-width: 55rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    color: $theme-dark-fg;
    font: {
      size: 0.75rem;
    }

    .license {
      display: inline-flex;
      gap: 0.5em;
    }
    .link {
      transition: filter 200ms ease;
    }
    :global(.light-theme) & {
      color: $theme-light-fg;
      .link:hover {
        filter: brightness(0%);
      }
    }
    :global(.dark-theme) & {
      color: $theme-dark-fg;
      .link:hover {
        filter: brightness(50%);
      }
    }
  }

  nav {
    display: flex;
    gap: 1em;
  }
</style>
