---
import { Menu, X } from "lucide-astro";
---

<div class="button">
  <div class="hamburger">
    <Menu size={48} />
  </div>
  <div class="cross hidden">
    <X size={48} />
  </div>
</div>

<style lang="scss">
  svg {
    transition: all 200ms ease;
  }
  .button {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 10;
    margin: 10px;
    cursor: pointer;
  }
  .cross,
  .hamburger {
    display: flex;
    justify-content: end;
    margin: 10px;
    cursor: pointer;
  }
  .cross {
    position: absolute;
  }
  .hidden {
    & svg {
      transform: rotateX(90deg);
    }
  }

  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
    .cross {
      display: none;
    }
  }
</style>
