---
// @ts-ignore
import { Icon } from "astro-iconify";
import ThemeIcon from "./ThemeIcon.astro";

const currentPath = Astro.url.pathname;
const menu = [
  { href: "/blog/about/", title: "About me" },
  { href: "/blog/posts/", title: "Articles" },
  { href: "/blog/music/", title: "Music" },
];
---

<nav class="nav">
  <a class="nav__link--iconed" href="/blog/" aria-label="Go to homepage">
    <Icon size={48} name="fluent-emoji-flat:bug" />
  </a>
  {
    menu.map((link) => (
      <a
        class={
          currentPath === link.href
            ? "nav__link nav__link--active"
            : "nav__link"
        }
        href={link.href}
      >
        {link.title}
      </a>
    ))
  }
  <div class="nav__theme-toggle" >
    <ThemeIcon />
  </div>
</nav>
<style lang="scss">
  @import "../styles/themes.scss";
  .nav {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 2rem 0;

    &__link {
      display: block;
      padding: 18px 0;
      text-decoration: none;
      transition: background-color 200ms ease-in-out;

      font: {
        size: 1.2rem;
        weight: 800;
      }
      text: {
        align: center;
        transform: uppercase;
      }

      &--active {
        text: {
          decoration-line: underline;
          decoration-style: wavy;
          decoration-thickness: 0.18em;
          decoration-color: $theme-primary;
        }
      }

      &--iconed {
        display: flex;
        justify-content: center;
      }

      &:hover,
      &:focus {
        background-color: $theme-primary;
      }
    }
    &__theme-toggle {
      margin: auto 0 ;
      margin-left: auto;
    }
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav {
      display: flex;
      position: static;
      width: auto;
      background: none;

      &__link {
        display: inline-block;
        padding: 10px 25px;

        &--iconed {
          display: inline-block;
          padding: 0 1em;
        }
      }
    }
  }
</style>
