---
import { Triangle } from "lucide-astro";
import ThemeIcon from "./ThemeIcon.astro";

const currentPath = Astro.url.pathname;
const menu = [
  { href: "/blog/about/", title: "About me" },
  { href: "/blog/posts/", title: "Posts" },
  { href: "/blog/music/", title: "Music" },
];
---

<nav class="nav">
  <a class="nav__link--iconed" href="/blog/" aria-label="Go to homepage">
    <Triangle size={32} />
  </a>
  {
    menu.map((link) => (
      <a
        class={
          currentPath.includes(link.href)
            ? "nav__link nav__link--active"
            : "nav__link"
        }
        href={link.href}
      >
        {link.title}
      </a>
    ))
  }
  <div class="nav__theme-toggle">
    <ThemeIcon />
  </div>
</nav>
<style lang="scss">
  @import "../styles/themes.scss";
  .nav {
    visibility: hidden;
    opacity: 0;
    // transition: opacity 500ms ease-in-out, background-color 500ms ease, color 500ms ease-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    :global(.light-theme) & {
      background: $theme-light-bg;
    }
    :global(.dark-theme) & {
      background: $theme-dark-bg;
    }

    &__theme-toggle {
      display: flex;
      justify-content: center;
    }

    &__link {
      display: block;
      padding: 18px 0;
      text-decoration: none;
      transition: background-color 200ms ease-in-out;

      font: {
        size: 1.2rem;
        weight: 800;
      }
      text: {
        align: center;
        transform: uppercase;
      }

      &--active {
        text: {
          decoration-line: underline;
          decoration-style: wavy;
          decoration-thickness: 0.18em;
          decoration-color: $theme-primary;
        }
      }

      &--iconed {
        display: flex;
        justify-content: center;
      }

      &:hover,
      &:focus {
        background-color: $theme-primary;
      }
    }
  }

  @media screen and (max-width: 635px) {
    .expanded {
      display: unset;
      visibility: visible;
      opacity: 1;
      display: grid;
      place-content: center;

      .nav {
        &__link {
          margin: 1em auto;
          padding: 0.8em 0.5em;
          font: {
            size: 2.5em;
          }
        }
      }
    }
  }
  @media screen and (min-width: 636px) {
    .nav {
      visibility: visible;
      opacity: 1;
      top: 5rem;
      left: 48px;
      margin: 2rem 0;
      display: flex;
      position: static;
      width: auto;
      background: none;

      &__link {
        display: inline-block;
        padding: 10px 25px;
        align-items: center;

        &--iconed {
          display: flex;
          place-items: center;
          padding: 0 1em;
        }
      }
      &__theme-toggle {
        visibility: visible;
        margin: auto 0;
        margin-left: auto;
      }
    }
  }
</style>
