---
interface Props {
  tags?: string[];
}
let { tags } = Astro.props;

const allPosts = await Astro.glob("../pages/posts/**/*.md");
const allTags = [
...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

if (!tags) tags = allTags;
---

<div class="tags">
  {
    tags.map((tag: any) => (
      <p>
        <a class="tags__item" href={`/blog/posts/tags/${tag}`}>
          {tag}
        </a>
      </p>
    ))
  }
</div>

<style lang="scss">
  @import "../styles/themes.scss";
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 0.5em;
    
    &__item {
      margin: 0.25em;
      border: solid 1px $theme-primary;
      color: $theme-primary;
      padding: 0.2em 0.6em;
      font: {
        size: 1em;
        weight: 500;
      }

      &::before {
        content: "#";
      }
    }
  }
</style>
