---
import { CreativeCommons } from "lucide-astro";
---

<footer>
  <div class="license">
    <a class="link" href="https://wvovaw.github.io/">V. Ivakhno</a>
    <CreativeCommons size={18} />
    2023
  </div>
  <nav>
    <a class="link" href="/blog/about">About</a>
    <a class="link" href="/blog/posts">Posts</a>
  </nav>
</footer>

<style lang="scss">
  @use "./Footer.scss";
</style>
