---
import Header from "../components/Header.astro";
import "../styles/global.scss";
let { pageTitle } = Astro.props;
pageTitle = pageTitle.charAt(0).toUpperCase() + pageTitle.slice(1);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="rainbow"></div>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
<style lang="scss">
  .rainbow {
    width: 99vw;
    height: 3px;
    position:absolute;
    left: 0;
    top: 0;
    background: rgb(255, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 115, 0, 1) 15%,
      rgba(249, 255, 0, 1) 32%,
      rgba(0, 255, 4, 1) 49%,
      rgba(0, 245, 255, 1) 67%,
      rgba(0, 91, 255, 1) 83%,
      rgba(72, 0, 255, 1) 100%
    );
  }
</style>
