---
import { type CollectionEntry } from "astro:content";
import { BlogpostCard } from "@/components/BlogpostCard";

interface Props {
  posts: CollectionEntry<"blog">[];
}
const { posts } = Astro.props;
---

<ul class="grid">
  {
    posts.map((post) => (
      <li class="grid__item">
        <BlogpostCard post={post} />
      </li>
    ))
  }
</ul>

<style lang="scss">
  .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 636px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
